<div class="card_items">
    <img src="{{photo}}" alt="{{id}}" class="card_img">
    <h3 class="card_name">{{name}}</h3>
    <p class="card_text">{{description}}</p>
    <button class="card_button">Read All</button>
    <div class="card_lable">
        {{#if isNew}}
        <span class="label">NEW</span>

        {{/if}}
    </div>
</div>